* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}

header {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

button {
  cursor: pointer;
  background-color: black;
  border-style: dashed;
  margin: 5px;
  padding: 10px;
  border-radius: 40px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.answer-buttons {
  flex-direction: column;
  font-size: larger;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#question-container {
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer-container {
  position: absolute;
  width: 100%;
  white-space: nowrap;
}

#question-display {
  white-space: normal;
  padding-bottom: 5dvh;
}

/* #loser{
  flex-direction: column;
  width:100%;
  height: 100%;
} */

#score-container {
  flex-direction: column;
}

#highscores-list {
  text-align: center;
}

#end-quiz-container{
  padding-top: 10dvh;
  flex-direction: column;
}

.highscores-container {
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  header {
    white-space: normal;
  }
}
