:root{
  --offWHite: #fff;
  --white: #ffffff;
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background: #005EB8;
  margin-top: 25%;
}
.hide{ 
  display: none;
}
.start {
  display: block;
}
.title {
  position: absolute;
  right: 4px;
  top: 4px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.info-box {
  width: 100%;
  background: var(--offWHite);
  border-radius: 10px;
}
.info-box .info-title {
  display:inline-block;
  border: 1px solid #005bb6;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  margin: 20px;

}
.info-box .info-list {
  padding-left: 25px;
}
.info-box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}

/* .quiz-box{
  width: 540px;
  background: var(--offWHite);
  border-radius: 5px;
}
.que-text{
  border-top: 1px solid lightgray;
}
#timeRem{
  margin-top: 5;
} */


.info-box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 28px;
} 
.info-box .buttons button{
  margin: 0 5px;
  border: 1px solid #005bb6;
  background-color: #005bb6;
  border-radius: 5px;
  color: var(--offWHite);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button.quit{
  border-color: #005bb6;
  background-color: var(--offWHite);
  color: #005bb6;
}
.buttons button.restart{
  color: var(--offWHite);
  background: #005bb6;
}
.buttons button.quit:hover{
  background: #005bb6;
  color: white;
}
 .buttons button.restart:hover{
  background: #005bb6;
  color: white;
 }/*
.question {
  border-bottom: 1px solid lightgray;
}
.option {
  border: solid #005bb6;
  margin: 5px;
  background: #005bb6;
  color: var(--white);
  border-radius: 5px;
}
.option:hover{
  background: #005bb6;
  cursor: pointer;
} 
#initials, #saveScore {
  width: 100px;
}
#response{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 35px;
  border-top: 1px solid lightgray;
}
#saveScore{
  border-color: #005bb6;
  background-color: var(--offWHite);
  color: #005bb6;
  width:50%
}
#saveScore:hover{
  background: #005bb6;
  color: var(--offWHite);
} */

/* .buttons{
  justify-content: center;
} */

.buttons a {
  color: #005bb6;
  text-decoration: none;
}

.buttons a:hover {
  color:white
}